# Copie este arquivo para .env e ajuste os valores conforme necessário
# cp .env.example .env

# Django
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-change-me-in-production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres
DB_NAME=django_ddd
DB_USER=django_ddd
DB_PASSWORD=django_ddd
DB_HOST=db
DB_PORT=5432
